<div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card" style="height:15rem; width: 32rem;">
        <h4 class="card-header">Select Cafe Location ...</h4>
        <div class="card-body">
            <br>
            <div class="dropDownSelector" >
                <select [(ngModel)]="selectedLevel" (change)="selected()" style="width: 100%; height: 100%;">
                    <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>