.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  height: 100px;
  width: 500px;
  opacity: 0.9;
  /* background-image: url("/assets/images/cardBg.jpg"); */
  /* color: #54d400; */
  }
  
  .jumbotron {
      
    background-image: url("/assets/images/background.jpeg");
    background-size: cover;
    height: 700px;
    padding: 0;
    margin: 0;
  }
  .manageTile{
    padding-left: 5%;
    padding-right: 5%;
    }
    
    .orderButton{
      float: right;
      padding-left: 110px;
      padding-right: 10%;
      padding-bottom: 20px;
      }

    .label1{
      padding-left: 20%;
        float: left;
        font-weight: bolder;
font-size: larger;
padding-bottom: 20px;
        }
    .label2{
      padding-right: 20%;
          float: right;
          font-weight: bolder;
          font-size: larger;
          padding-bottom: 20px;
          }
