<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<div class="jumbotron">
  <br> <br> <br> <br> <br>

  <div class="card" style="height:29rem; width: 55rem;">
    <h4 class="card-header">Let's have some Italian today..</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id='parent_div_1'>
          <div class="form-group" class='child_div_1'>
            <img src="/assets/images/Italian/Italian-Bruschetta.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-1" for="menu1">Bruschetta</label>
            <label class="label-11" for="menu1">Rs 50</label>
            <input class="input-1" type="number" formControlName="menu1" min="0" max="10" value="0"
              class="form-control" />
          </div>

          <div class="form-group" class='child_div_2'>
            <img src="/assets/images/Italian/Italian-FocacciaBread.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-2" for="menu2">Focaccia Bread</label>
            <label class="label-21" for="menu2">Rs 50</label>
            <input class="input-2" type="number" formControlName="menu2" min="0" max="10" value="0"
              class="form-control" />
          </div>
        </div>
        <div id='parent_div_2'>
          <div class="form-group" class='child_div_1'>
            <img src="/assets/images/Italian/Italian-Lasagna.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-1" for="menu3">Lasagna</label>
            <label class="label-11" for="menu3">Rs 80</label>
            <input class="input-1" type="number" formControlName="menu3" min="0" max="10" value="0"
              class="form-control" />
          </div>

          <div class="form-group" class='child_div_2'>
            <img src="/assets/images/Italian/Italian-Panzenella.jpeg" class="rounded-circle" width="60" height="60">
            <label class="label-2" for="menu4">Panzenella</label>
            <label class="label-21" for="menu4">Rs 70</label>
            <input class="input-2" type="number" formControlName="menu4" min="0" max="10" value="0"
              class="form-control" />
          </div>
        </div>
        <div id='parent_div_3'>
          <div class="form-group" class='child_div_1'>
            <img src="/assets/images/Italian/Italian-Pasta.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-1" for="menu5">Pasta</label>
            <label class="label-11" for="menu5">Rs 60</label>
            <input class="input-1" type="number" formControlName="menu5" min="0" max="10" value="0"
              class="form-control" />
          </div>

          <div class="form-group" class='child_div_2'>
            <img src="/assets/images/Italian/Italian-Tiramisu.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-2" for="menu6">Tiramisu</label>
            <label class="label-21" for="menu6">Rs 40</label>
            <input class="input-2" type="number" formControlName="menu6" min="0" max="10" value="0"
              class="form-control" />

          </div>
        </div>

        <div id='parent_div_5'>
          <div class="form-group" class='child_div_7'>
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Order
            </button>
            <a routerLink="/cafeList" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>