<section>
    <div class="jumbotron">

        <br> <br> <br> <br>
        <h1>Select a Cafe Of Your Choice...</h1>

        <div class="row" style="margin-bottom: 0px;">
            <div class="col-sm-4">
                <a class="nav-link" routerLink="/arabian">
                    <img class="hover" src="assets/images/ArabianCafe.jpg"
                        style="width:100%;height:200px;border:1px solid transparent;transition:1s;"></a>
                        <div class="centered">Arabian</div>

            </div>
            <div class="col-sm-4">
                <a class="nav-link" routerLink="/chinese">
                    <img class="hover" src="assets/images/ChineseCafe.jpg"
                        style="width:100%;height:200px;border:1px solid transparent;transition:1s;"></a>
                        <div class="centered">Chinese</div>
            </div>
            <div class="col-sm-4">
                <a class="nav-link" routerLink="/contenental">
                    <img class="hover" src="assets/images/ContinentalCafe.jpg"
                        style="width:100%;height:200px;border:1px solid transparent;transition:1s;"></a>
                        <div class="centered">Continental</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a class="nav-link" routerLink="/french">
                    <img class="hover" src="assets/images/FrenchCafe.jpg"
                        style="width:100%;height:200px;border:1px solid transparent;transition:1s;"></a>
                        <div class="centered">French</div>
            </div>
            <div class="col-sm-4">
                <a class="nav-link" routerLink="/indian">
                    <img class="hover" src="assets/images/IndianCafe.jpg"
                        style="width:100%;height:200px;border:1px solid transparent;transition:1s;"></a>
                        <div class="centered">Indian</div>
            </div>
            <div class="col-sm-4">
                <a class="nav-link" routerLink="/italian">
                    <img class="hover" src="assets/images/ItalianCafe.jpg"
                        style="width:100%;height:200px;border:1px solid transparent;transition:1s;"></a>
                        <div class="centered">Italian</div>
            </div>
        </div>

    </div>
</section>