<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<div class="jumbotron">
  <br> <br> <br> <br> <br>

  <div class="card" style="height:29rem; width: 55rem;">
    <h4 class="card-header">Let's have some Chinese today..</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id='parent_div_1'>
          <div class="form-group" class='child_div_1'>
            <img src="/assets/images/Chinese/Chinese-DimSums.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-1" for="menu1">Dim Sums</label>
            <label class="label-11" for="menu1">Rs 80</label>
            <input class="input-1" type="number" formControlName="menu1" min="0" max="10" value="0" class="form-control" />
          </div>

          <div class="form-group" class='child_div_2'>
            <img src="/assets/images/Chinese/Chinese-FriendRice.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-2" for="menu2">FriendRice</label>
            <label class="label-21" for="menu2">Rs 50</label>
            <input class="input-2" type="number" formControlName="menu2" min="0" max="10" value="0" class="form-control" />
          </div>
        </div>
        <div id='parent_div_2'>
          <div class="form-group" class='child_div_1'>
            <img src="/assets/images/Chinese/Chinese-HakkaNoodles.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-1" for="menu3">Hakka Noodles</label>
            <label class="label-11" for="menu3">Rs 70</label>
            <input class="input-1" type="number" formControlName="menu3" min="0" max="10" value="0" class="form-control" />
          </div>

          <div class="form-group" class='child_div_2'>
            <img src="/assets/images/Chinese/Chinese-HoneyChilliPotato.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-2" for="menu4">Honey Chilli Potato</label>
            <label class="label-21" for="menu4">Rs 90</label>
            <input class="input-2" type="number" formControlName="menu4" min="0" max="10" value="0" class="form-control" />
          </div>
        </div>
        <div id='parent_div_3'>
          <div class="form-group" class='child_div_1'>
            <img src="/assets/images/Chinese/Chinese-HotandSourSoup.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-1" for="menu5">Hot & Sour Soup</label>
            <label class="label-11" for="menu5">Rs 40</label>
            <input class="input-1" type="number" formControlName="menu5" min="0" max="10" value="0" class="form-control" />
          </div>

          <div class="form-group" class='child_div_2'>
            <img src="/assets/images/Chinese/Chinese-SpringRolls.jpg" class="rounded-circle" width="60" height="60">
            <label class="label-2" for="menu6">Spring Rolls</label>
            <label class="label-21" for="menu6">Rs 50</label>
            <input class="input-2" type="number" formControlName="menu6" min="0" max="10"value="0" class="form-control" />
          
          </div>
        </div>

        <div id='parent_div_5'>
          <div class="form-group" class='child_div_7'>
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Order
            </button>
            <a routerLink="/cafeList" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
