<div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card" style="height:30rem; width: 30rem;">
        <h4 class="card-header">Map</h4>
        <div class="card-body">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1943.985878705779!2d77.71754471097563!3d12.973658200000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x559e02d7f4663cdc!2sCapgemini%20Technology%20Services%20India%20Limited!5e0!3m2!1sen!2sin!4v1591045201400!5m2!1sen!2sin"
                width="430rem" height="390rem" frameborder="0" style="border:0; padding: 0; margin: 0;" 
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>