<div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card" style="height:22rem; width: 25rem;">
        <h4 class="card-header">Payment</h4>

        <div class="card-body">

            <div>
                <div>
                    <label> <img src="/assets/images/pay2.png"  width="60" height="30"></label>
                    <label class="paymentLabel">UPI</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button class="paymentButton" class="btn btn-primary" (click)="payByUPI()">Pay Now</button>
                </div>
                <br>
                <div>
                    <label><img src="/assets/images/pay3.png"  width="60" height="30"></label>
                    <label class="paymentLabel">Credit Card</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button class="paymentButton" class="btn btn-primary" (click)="payByCreditCard()">Pay Now</button>
                </div>
                <br>
                <div>
                    <label><img src="/assets/images/pay4.png"  width="60" height="30"></label>
                    <label class="paymentLabel">Debit Card</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button class="paymentButton" class="btn btn-primary" (click)="payByDebitCard()" >Pay Now</button>
                </div>
                <br>
                <div>
                    <label> <img src="/assets/images/pay5.png"  width="60" height="30"></label>
                    <label class="paymentLabel">Meal Card</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button class="paymentButton" class="btn btn-primary" (click)="payByMealCard()" >Pay Now</button>
                </div>
            </div>


        </div>
    </div>
</div>