<div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card" style="height:25rem; width: 32rem;">
        <h4 class="card-header">Payment</h4>

        <div class="card-body">

            <div>
                <div>
                    <label class="paymentLabel">UPI</label>
                    <button class="paymentButton" class="btn btn-primary" routerLink="/home">Pay Now</button>
                </div>
                <div>
                    <label class="paymentLabel">Credit Card</label>
                    <button class="paymentButton" class="btn btn-primary" routerLink="/home">Pay Now</button>
                </div>
                <div>
                    <label class="paymentLabel">Debit Card</label>
                    <button class="paymentButton" class="btn btn-primary" routerLink="/home">Pay Now</button>
                </div>
                <div>
                    <label class="paymentLabel">Meal Card</label>
                    <button class="paymentButton" class="btn btn-primary" routerLink="/home">Pay Now</button>
                </div>
            </div>


        </div>
    </div>
</div>