.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  height: 100px;
  width: 500px;
  opacity: 0.9;
  /* background-image: url("/assets/images/cardBg.jpg"); */
  /* color: #54d400; */
  }
  
  .jumbotron {
      
    background-image: url("/assets/images/background.jpeg");
    background-size: cover;
    height: 700px;
    padding: 0;
    margin: 0;
  }
  .manageTile{
    padding-left: 5%;
    padding-right: 5%;
    }
    


      .paymentLabel{
        font-weight: bolder;
        float: left;
        padding-left: 5%;
        width: 45%;
       /* padding-right: 10%;*/
       /* padding-bottom: 20px;*/
        }

        .paymentButton{
          float: right;
          width: 45%;
          padding-left: 20%;
          /*padding-bottom: 20px;*/
          }