<div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card" style="height:32rem; width: 60rem;">
        <h4 class="card-header">About Us</h4>
        <div class="card-body">
            <div id='parent_div_1'>
                <div class='child_div_1'>
                    <h5>Capgemini</h5>
                    <p>Capgemini SE is a French multinational corporation that provides consulting, technology,
                        professional, and outsourcing services. It is headquartered in Paris, France. Capgemini has over
                        270,000 employees in over 40 countries, of whom nearly 120,000 are in India</p>
                </div>
                <div class='child_div_1'>
                    <h5>History</h5>
                    <p>
                        Capgemini was founded by Serge Kampf in 1967 as an enterprise management and data processing
                        company.
                        The company was inaugurated as the Société pour la Gestion de l'Entreprise et le Traitement de
                        l'Information (Sogeti).
                        In 1974 Sogeti acquired Gemini Computers Systems, a US company based in New York.In 1975, having
                        made two major acquisitions of CAP and Gemini Computer
                        Systems,
                        and following resolution of a dispute with the similarly-named CAP UK over the international use
                        of the
                        name 'CAP', Sogeti renamed itself as CAP Gemini Sogeti.
                        Cap Gemini Sogeti launched US operations in 1981, following the acquisition of Milwaukee-based
                        DASD
                        Corporation, specializing in data conversion and employing 500 people in 20 branches throughout
                        the US.
                        Following this acquisition, The U.S. Operation was known as Cap Gemini DASD.
                        In 1996, the name was simplified to Cap Gemini with a new group logo. All operating companies
                        worldwide
                        were re-branded to operate as Cap Gemini.
                        Ernst & Young Consulting was acquired by Cap Gemini in 2000. It simultaneously integrated Gemini
                        Consulting to form Cap Gemini Ernst & Young.
                        In 2017, Cap Gemini S.A. became Capgemini SE, and its Euronext ticker name similarly changed
                        from CAP
                        GEMINI to CAPGEMINI.</p>
                </div>
                <div class='child_div_3'>
                    <button class="btn btn-primary" routerLink="/home">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>